@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;




.main {
    background-image: url("./assets/back.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.modal-box {
    background-image: url("./assets/back.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
*{
    font-family: 'Kalam', cursive;
    font-weight: 700;
}


.floating-box {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4); 
}


.button {
    align-self: center;
    background-color: #fbce90;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 3px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #59370c;
    cursor: pointer;
    font-family: 'Kalam', cursive;
    font-size: 1.1rem;
    font-weight: bolder;
    line-height: 23px;
    outline: none;
    padding: .4rem .6rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.button:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 3px, 0);
}

.button:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.radio-label {
  cursor: pointer;
  margin-right: 10px;
}

.radio-image {
  width: 6.5rem; 
  height: 6.5rem; 
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .radio-label {
    border: 4px solid #b16800;
}

@media (min-width: 768px) {
    .button {
        font-size: 1.24rem;
        padding: .6rem .65rem;
    }
    .radio-image {
        width: 10rem;
        height: 10rem;
    }
}